<<<<<<< Updated upstream
<%= form_with model: movie do |form| %>
<div>
	<%= form.text_field :url %>
</div>
<div class="auto-search-wrapper">
	<%= form.label :title %>
	<%= form.text_field :title, :placeholder => 'Search Movie title' %>
	<% movie.errors.full_messages_for(:title).each do |message| %>
		<div class="alert alert-danger"><%= message %></div>
	<% end %>
</div>
<br>
	<%= form.label :year %><br>
	<%= form.text_field :year %><br><br>
	<% @movie.errors.full_messages_for(:year).each do |message| %>
		<div class="alert alert-danger"><%= message %></div>
	<% end %>
	<%= form.label :genre %><br>
	<%= form.text_field :genre %><br><br>
	<% movie.errors.full_messages_for(:genre).each do |message| %>
		<div class="alert alert-danger"><%= message %></div>
	<% end %>
	<%= form.label :director %><br>
	<%= form.text_field :director %><br><br>
	<% movie.errors.full_messages_for(:director).each do |message| %>
		<div class="alert alert-danger"><%= message %></div>
	<% end %>
<div>
	
</div>
<div>
	<%= form.submit :class => 'btn btn-primary' %>
</div>
<% end %>
=======
<div id="form">
	<%= form_with url: search_movies_path, method: :post do |f| %>
		<%= f.search_field :title_search, oninput: "this.form.requestSubmit()", placeholder: "Search Movie title" %>
		<%= f.text_field :return_url, value: @return_path %>
	<% end %>
</div>

<div id="search_results">
</div>
<br>
<br>


<div data-controller="poster">
	<%= image_tag("", data: { 'poster-target' => "image" }) %>

	<%= form_with model: movie do |form| %>
		<%= form.text_field :url, 'data-poster-target' => "url" %>
		<br><br>
		<%= form.label :title %><br>
		<%= form.text_field :title %><br><br>
		<% movie.errors.full_messages_for(:title).each do |message| %>
			<div class="alert alert-danger"><%= message %></div>
		<% end %>
		<%= form.label :year %><br>
		<%= form.text_field :year %><br><br>
		<% @movie.errors.full_messages_for(:year).each do |message| %>
			<div class="alert alert-danger"><%= message %></div>
		<% end %>
		<%= form.label :genre %><br>
		<%= form.text_field :genre %><br><br>
		<% movie.errors.full_messages_for(:genre).each do |message| %>
			<div class="alert alert-danger"><%= message %></div>
		<% end %>
		<%= form.label :director %><br>
		<%= form.text_field :director %><br><br>
		<% movie.errors.full_messages_for(:director).each do |message| %>
			<div class="alert alert-danger"><%= message %></div>
		<% end %>
	<div>
		<%= form.submit :class => 'btn btn-primary' %>
	</div>
	<% end %>
</div>
>>>>>>> Stashed changes
