<%= form_with model: movie do |form| %>
<div>
	<%= form.text_field :url %>
</div>
<div class="auto-search-wrapper">
	<%= form.label :title %>
	<%= form.text_field :title, :placeholder => 'Search Movie title' %>
	<% movie.errors.full_messages_for(:title).each do |message| %>
		<div class="alert alert-danger"><%= message %></div>
	<% end %>
</div>
<br>
	<%= form.label :year %><br>
	<%= form.text_field :year %><br><br>
	<% @movie.errors.full_messages_for(:year).each do |message| %>
		<div class="alert alert-danger"><%= message %></div>
	<% end %>
	<%= form.label :genre %><br>
	<%= form.text_field :genre %><br><br>
	<% movie.errors.full_messages_for(:genre).each do |message| %>
		<div class="alert alert-danger"><%= message %></div>
	<% end %>
	<%= form.label :director %><br>
	<%= form.text_field :director %><br><br>
	<% movie.errors.full_messages_for(:director).each do |message| %>
		<div class="alert alert-danger"><%= message %></div>
	<% end %>
<div>
	
</div>
<div>
	<%= form.submit :class => 'btn btn-primary' %>
</div>
<% end %>