<div id="<%= dom_id movie %>" class="card">
  <div class="card-body">
    <p>
      <img  width="200" height="200" src="<%= movie.image_url %>"/>
    </p>

    <p>
      <strong>Release date:</strong>
      <%= movie.release_date %>
    </p>

    <p>
      <strong>Genre:</strong>
      <%= movie.genre %>
    </p>

    <p>
      <strong>Director:</strong>
      <%= movie.director %>
    </p>

    <p>
      <strong>Actors:</strong>
      <%= movie.actors %>
    </p>

    <p>
      <strong>Plot:</strong>
      <%= movie.plot %>
    </p>

  </div>

</div>
